.slider_container{
    overflow:hidden;
    background-color: #f2f2f8;
    display: flow;
    z-index:  99;
    magin: auto;
}

.slider_track{
    display:flex;
    align-items: center;
    text-align: center;
    background-color: #f2f2f8;
    transition: .2s;
}

.slider_box {
    width: 380px;
    height: 380px;
    overflow: hidden;
}

.slider_box img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
}



.slider_buttons{
    margin: 20px auto;
    text-align: center;
}

@media screen and (max-width: 978px) {
    .slider_box {
        max-width: 350px;
        max-height: 350px;
    }

    .slider_box img {
        max-width: 350px;
        max-height: 350px;
    }
}

@media screen and (max-width: 512px) {
    .slider_box {
        max-width: 250px;
        max-height: 250px;
    }

    .slider_box img {
        max-width: 250px;
        max-height: 250px;
    }
}