main {
    margin: 50px 50px ;
    padding: 40px 80px;
    min-height: 100vh;
    z-index: auto;
}
.card {
    border: 5px black;
    border-radius: 7px;
    padding: 15px;
    max-width: 300px;
    margin: 10px 10px;
    min-height: 483px;
}

#cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#add-card {
    font-weight: bold;
    font-size: 25px;
    width: 20%;
    height: 50px;
    margin: auto;
    background-color:lightgrey;
}

#add-card:hover {
    color: #4facfe;
}

.card.preloader.disabled {
    display: none;
}

.preloader-img {

}