
.container__mtb-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.table{
    width: 100%;
    justify-self: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    white-space: nowrap;
}

.table th, .table td{
    text-align: center;
    padding: 10px;
}

.table th{
    background-color:lightgray;
    color: gray;
}

.table th:nth-child(odd) {
    background: lightgray;
}

.table tr:nth-child(even) {
    background: lightgray;
}

.table tr{
    transition: all .3s;
}

.table tr:hover{
    background-color:#ccc ;
}

.table td:not(:last-child){
    border-right: 1px solid #ccc;
}

@media screen and (max-width: 978px) {

    .table-2{
        display: block;
        width: 100%;
    }

    .table-2 thead,
    .table-2 tbody,
    .table-2 thead th {
        display: block;
    }

    .table-2 thead {
        float: left;
    }

    .table-2 tbody{
        overflow-x: auto;
    }

    .table-2 tbody tr {
        display: table-cell;
        border-right: 1px solid #ccc;
    }

    .table-2 tbody tr:last-child{
        border-right: none;
    }

    .table-2 td{
        display: block;
    }

    .table.table-2 td{
        border-right: none;
    }

    .table-2 td, .table-2 th {
        padding: 10px 2px;
        box-sizing: border-box;
        overflow: hidden;
        width: 160px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
}
